
  
  .hero-body {
background: linear-gradient(90deg, rgba(0,255,143,1) 0%, rgba(0,255,220,1) 100%);
}
  body {
background: linear-gradient(90deg, rgba(0,255,143,1) 0%, rgba(0,255,220,1) 100%);
}
  
  .is-centered {
background: linear-gradient(90deg, rgba(0,255,143,1) 0%, rgba(0,255,220,1) 100%);
  }
  .title {
    color: white;
  }
  
  .subtitle{
    color: white;
  }
  .card{
background: transparent;
  }
  .card-content.s1{
    background: transparent;
  }
  
  img {
    padding: 5px;
  }
  
  footer{
    padding: 50px;
    color: white;
    text-align: center;
  }

  .description {
      color: white;
  }

  #continue {
      border-color: white;
      color: white;
  }

  #continue:hover {
    background: white;
    color: black;
}

  