
  
  .hero-body {
background: linear-gradient(90deg, rgba(255,210,176,1) 0%, rgba(255,186,134,1) 35%, rgba(238,132,52,1) 76%);
}
  body {
background: linear-gradient(90deg, rgba(255,210,176,1) 0%, rgba(255,186,134,1) 35%, rgba(238,132,52,1) 76%);
}
  
  .is-centered {
background: linear-gradient(90deg, rgba(255,210,176,1) 0%, rgba(255,186,134,1) 35%, rgba(238,132,52,1) 76%);
  }
  .title {
    color: white;
  }
  
  .subtitle{
    color: white;
  }
  .card{
background: transparent;
  }
  .card-content.s1{
    background: transparent;
  }
  
  img {
    padding: 5px;
  }
  
  footer{
    padding: 50px;
    color: white;
    text-align: center;
    background: linear-gradient(90deg, rgba(255,210,176,1) 0%, rgba(255,186,134,1) 35%, rgba(238,132,52,1) 76%);

  }

  .description {
      color: white;
  }

  #continue {
      border-color: white;
      color: white;
  }

  #continue:hover {
    background: white;
    color: black;
}

  