*{
    color: white !important;
}

.hero-body {
background: linear-gradient(90deg, rgba(1,0,255,1) 0%, rgba(0,255,229,1) 100%);

}
  body {
background: linear-gradient(90deg, rgba(1,0,255,1) 0%, rgba(0,255,229,1) 100%);

}
  
  .is-centered {
background: linear-gradient(90deg, rgba(1,0,255,1) 0%, rgba(0,255,229,1) 100%);

}
  .title {
    color: white;
  }
  
  .subtitle{
    color: white;
  }
  .card{
background: transparent;
margin: 10%;
  }
  .card-content.s1{
    background: transparent;
  }
  
  img {
    padding: 5px;
  }
  
  footer{
    padding: 50px;
    color: white;
    text-align: center;
  }

  .description{
      color: white;
  }

  #continue{
      border-color: white;
      color: white;
  }

  #continue:hover{
    background: white;
    color: black;
}

.footer-1{
    color: black; 
}

.modal-card{
    color: black;
   background: rgb(236,255,230);
background: linear-gradient(90deg, rgba(236,255,230,1) 0%, rgba(207,244,195,1) 35%, rgba(147,224,143,1) 100%); 
}
